In [24]:
!apt-get update             #for update full system to avoid any query

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:7 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:10 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:11 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,567 kB]
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [83.3 kB]
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Fetched 1,828 kB in 3s (655 kB/s)
Reading package lists... Done

In [25]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null         #jvm version-8 install

In [26]:
 !wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz         #for apache spark with Hadoop install

In [27]:
!tar xf spark-3.1.1-bin-hadoop3.2.tgz           #for extract the file which was with Hadoop

In [28]:
!pip install -q findspark             #for install findspark module

In [29]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

#environment setup for Java & Spark )

In [30]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
spark = SparkSession.builder.master("local").getOrCreate()
spark   #just for showing version,master_name, app_name etc 

#get(jodi thake) or create spark session for doing action with dataset, erpor dataset load kora charao aro anushongik kaj kora jabe

In [31]:
!wget https://raw.githubusercontent.com/jfmemon/Bigdata-project/main/world_population.csv      #dataset raw link of github

--2022-12-06 18:04:39--  https://raw.githubusercontent.com/jfmemon/Bigdata-project/main/world_population.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 29237 (29K) [text/plain]
Saving to: ‘world_population.csv.1’

world_population.cs 100%[===================>]  28.55K  --.-KB/s    in 0.002s

2022-12-06 18:04:39 (16.9 MB/s) - ‘world_population.csv.1’ saved [29237/29237]

In [32]:
df = spark.read.csv("world_population.csv", sep=",", header = True, inferSchema=True)

#read downloaded csv file and put into variable df, header = True mane holo- jate 1st row take data na baniye header banay , inferSchema = True mane holo- jokhon columns type dekhte cabo tokhon exact type show korbe

In [33]:
df.show(5, truncate = False)  
#for view downloaded dataset with some rows with their full name of any information(truncate=False er karone full name dekhabe) )

+----+----+--------------+----------------+---------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
|Rank|CCA3|Country       |Capital         |Continent|2022 Population|2020 Population|2015 Population|2010 Population|2000 Population|1990 Population|1980 Population|1970 Population|Area (km²)|Density (per km²)|Growth Rate|World Population Percentage|
+----+----+--------------+----------------+---------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
|36  |AFG |Afghanistan   |Kabul           |Asia     |41128771       |38972230       |33753499       |28189672       |19542982       |10694796       |12486631       |10752971       |652230    |63.0587          |1.0257     |0.52                       |
|138 |ALB |Albania       |Tirana          |Europe   |2842321        |2866849        |2882481        |2913399        |3182021        |3295066        |2941651        |2324731        |28748     |98.8702          |0.9957     |0.04                       |
|34  |DZA |Algeria       |Algiers         |Africa   |44903225       |43451666       |39543154       |35856344       |30774621       |25518074       |18739378       |13795915       |2381741   |18.8531          |1.0164     |0.56                       |
|213 |ASM |American Samoa|Pago Pago       |Oceania  |44273          |46189          |51368          |54849          |58230          |47818          |32886          |27075          |199       |222.4774         |0.9831     |0.0                        |
|203 |AND |Andorra       |Andorra la Vella|Europe   |79824          |77700          |71746          |71519          |66097          |53569          |35611          |19860          |468       |170.5641         |1.01       |0.0                        |
+----+----+--------------+----------------+---------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
only showing top 5 rows

In [34]:
df.columns        #for view all columns name

['Rank',
 'CCA3',
 'Country',
 'Capital',
 'Continent',
 '2022 Population',
 '2020 Population',
 '2015 Population',
 '2010 Population',
 '2000 Population',
 '1990 Population',
 '1980 Population',
 '1970 Population',
 'Area (km²)',
 'Density (per km²)',
 'Growth Rate',
 'World Population Percentage']

In [35]:
df.dtypes        #for view all columns type

[('Rank', 'int'),
 ('CCA3', 'string'),
 ('Country', 'string'),
 ('Capital', 'string'),
 ('Continent', 'string'),
 ('2022 Population', 'int'),
 ('2020 Population', 'int'),
 ('2015 Population', 'int'),
 ('2010 Population', 'int'),
 ('2000 Population', 'int'),
 ('1990 Population', 'int'),
 ('1980 Population', 'int'),
 ('1970 Population', 'int'),
 ('Area (km²)', 'int'),
 ('Density (per km²)', 'double'),
 ('Growth Rate', 'double'),
 ('World Population Percentage', 'double')]

In [36]:
df.printSchema()        #for view the schema of datasets column

root
 |-- Rank: integer (nullable = true)
 |-- CCA3: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Capital: string (nullable = true)
 |-- Continent: string (nullable = true)
 |-- 2022 Population: integer (nullable = true)
 |-- 2020 Population: integer (nullable = true)
 |-- 2015 Population: integer (nullable = true)
 |-- 2010 Population: integer (nullable = true)
 |-- 2000 Population: integer (nullable = true)
 |-- 1990 Population: integer (nullable = true)
 |-- 1980 Population: integer (nullable = true)
 |-- 1970 Population: integer (nullable = true)
 |-- Area (km²): integer (nullable = true)
 |-- Density (per km²): double (nullable = true)
 |-- Growth Rate: double (nullable = true)
 |-- World Population Percentage: double (nullable = true)

In [37]:
row = df.count()
col = len(df.columns)
print(row,col)

234 17

In [38]:
nedded_columns = df.select("Country", "2022 Population", "2020 Population", "2015 Population", "2010 Population", "2000 Population", "1990 Population", "1980 Population", "1970 Population").show(5)

+--------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+
|       Country|2022 Population|2020 Population|2015 Population|2010 Population|2000 Population|1990 Population|1980 Population|1970 Population|
+--------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+
|   Afghanistan|       41128771|       38972230|       33753499|       28189672|       19542982|       10694796|       12486631|       10752971|
|       Albania|        2842321|        2866849|        2882481|        2913399|        3182021|        3295066|        2941651|        2324731|
|       Algeria|       44903225|       43451666|       39543154|       35856344|       30774621|       25518074|       18739378|       13795915|
|American Samoa|          44273|          46189|          51368|          54849|          58230|          47818|          32886|          27075|
|       Andorra|          79824|          77700|          71746|          71519|          66097|          53569|          35611|          19860|
+--------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+
only showing top 5 rows

In [39]:
#df = df.withColumn('m', df['z'] / (df['y'] + df['z']))
#df.head(2)

Adding a new column named as 2023_Population with predicted number of population in the last

In [40]:
df = df.withColumn('2023_population',(((df['2022 Population']-df['2020 Population'])+(df['2020 Population']-df['2015 Population'])+(df['2015 Population']-df['2010 Population'])+(df['2010 Population']-df['2000 Population'])+(df['2000 Population']-df['1990 Population'])+(df['1990 Population']-df['1980 Population'])+(df['1980 Population']-df['1970 Population'])) / 7 ) * 0.1 + df['2022 Population'])
df.head(5)

[Row(Rank=36, CCA3='AFG', Country='Afghanistan', Capital='Kabul', Continent='Asia', 2022 Population=41128771, 2020 Population=38972230, 2015 Population=33753499, 2010 Population=28189672, 2000 Population=19542982, 1990 Population=10694796, 1980 Population=12486631, 1970 Population=10752971, Area (km²)=652230, Density (per km²)=63.0587, Growth Rate=1.0257, World Population Percentage=0.52, 2023_population=41562711.0),
 Row(Rank=138, CCA3='ALB', Country='Albania', Capital='Tirana', Continent='Europe', 2022 Population=2842321, 2020 Population=2866849, 2015 Population=2882481, 2010 Population=2913399, 2000 Population=3182021, 1990 Population=3295066, 1980 Population=2941651, 1970 Population=2324731, Area (km²)=28748, Density (per km²)=98.8702, Growth Rate=0.9957, World Population Percentage=0.04, 2023_population=2849715.1428571427),
 Row(Rank=34, CCA3='DZA', Country='Algeria', Capital='Algiers', Continent='Africa', 2022 Population=44903225, 2020 Population=43451666, 2015 Population=39543154, 2010 Population=35856344, 2000 Population=30774621, 1990 Population=25518074, 1980 Population=18739378, 1970 Population=13795915, Area (km²)=2381741, Density (per km²)=18.8531, Growth Rate=1.0164, World Population Percentage=0.56, 2023_population=45347615.14285714),
 Row(Rank=213, CCA3='ASM', Country='American Samoa', Capital='Pago Pago', Continent='Oceania', 2022 Population=44273, 2020 Population=46189, 2015 Population=51368, 2010 Population=54849, 2000 Population=58230, 1990 Population=47818, 1980 Population=32886, 1970 Population=27075, Area (km²)=199, Density (per km²)=222.4774, Growth Rate=0.9831, World Population Percentage=0.0, 2023_population=44518.68571428571),
 Row(Rank=203, CCA3='AND', Country='Andorra', Capital='Andorra la Vella', Continent='Europe', 2022 Population=79824, 2020 Population=77700, 2015 Population=71746, 2010 Population=71519, 2000 Population=66097, 1990 Population=53569, 1980 Population=35611, 1970 Population=19860, Area (km²)=468, Density (per km²)=170.5641, Growth Rate=1.01, World Population Percentage=0.0, 2023_population=80680.62857142858)]

Adding a new column named as '2023_population_growthrate' with predicted growth rate of 2023 population from the last year 2022.

In [41]:
df = df.withColumn('2023_population_growth-rate',(((df['2023_population']-df['2022 Population'])/df['2022 Population']) * 100) / 1)
df.show(5)

+----+----+--------------+----------------+---------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+-------------------+---------------------------+
|Rank|CCA3|       Country|         Capital|Continent|2022 Population|2020 Population|2015 Population|2010 Population|2000 Population|1990 Population|1980 Population|1970 Population|Area (km²)|Density (per km²)|Growth Rate|World Population Percentage|    2023_population|2023_population_growth-rate|
+----+----+--------------+----------------+---------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+-------------------+---------------------------+
|  36| AFG|   Afghanistan|           Kabul|     Asia|       41128771|       38972230|       33753499|       28189672|       19542982|       10694796|       12486631|       10752971|    652230|          63.0587|     1.0257|                       0.52|        4.1562711E7|         1.0550765059330365|
| 138| ALB|       Albania|          Tirana|   Europe|        2842321|        2866849|        2882481|        2913399|        3182021|        3295066|        2941651|        2324731|     28748|          98.8702|     0.9957|                       0.04| 2849715.1428571427|        0.26014453881678823|
|  34| DZA|       Algeria|         Algiers|   Africa|       44903225|       43451666|       39543154|       35856344|       30774621|       25518074|       18739378|       13795915|   2381741|          18.8531|     1.0164|                       0.56|4.534761514285714E7|         0.9896619738496328|
| 213| ASM|American Samoa|       Pago Pago|  Oceania|          44273|          46189|          51368|          54849|          58230|          47818|          32886|          27075|       199|         222.4774|     0.9831|                        0.0|  44518.68571428571|         0.5549335131699039|
| 203| AND|       Andorra|Andorra la Vella|   Europe|          79824|          77700|          71746|          71519|          66097|          53569|          35611|          19860|       468|         170.5641|       1.01|                        0.0|  80680.62857142858|         1.0731466368868723|
+----+----+--------------+----------------+---------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+-------------------+---------------------------+
only showing top 5 rows